body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
#clock_box {
  width: 600px;
  height: 200px;
  text-align: center;
}
.input_box {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  border-color: gray;
  background-color: wheat;
  box-shadow: darkgray 5px 5px 5px;
}
.login_form {
  display: inline-block;
  text-align: center;
}

.phoneNumber {
  width: 50px;
}
