.x {
  width: 900px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

#a {
  height: 10%;
  width: 100px;
  background-color: red;
}
#b {
  height: 30%;
  width: 100px;
  background-color: orange;
}
#c {
  height: 20%;
  width: 100px;
  background-color: yellow;
}
#d {
  height: 20%;
  width: 100px;
  background-color: green;
}
#e {
  height: 20%;
  width: 100px;
  background-color: blue;
}
